html {
  min-height: 100%;
  height: 300%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #072540;
}
#navbarNav
{
  font-family: monospace;
  font-size: 24px;
}

#options form button {
  display: relative;
  position: relative;
  vertical-align: center;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  background: #141e30;
  border-color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;

}

.footer{
  color: white;
  background-color: #0d324d;
  box-shadow: 0 50vh 0 50vh #0d324d;
}

#options button:hover {
  background: #7f5a83;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #7ed6df,
    0 0 25px #7ed6df,
    0 0 50px #7ed6df,
    0 0 100px #7ed6df;
}


#options a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}

#options a:hover {
  background:  #008080;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px  #0cbfe9,
              0 0 25px #0cbfe9,
              0 0 50px  #0cbfe9,
              0 0 100px  #0cbfe9;
}

#options a span {
  position: absolute;
  display: block;
}

.img-container {
      text-align: center;
      padding-top: 50px;
}

.info
{
  color : white;
  text-align: center;
  padding-left: 325px;
  padding-right: 325px;
}

.info p{
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}
.img
{
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

#agenda
{
  color : white;
  font-family: 'Inter', sans-serif;
  padding : 50px;
}
