* {
  color: white;
}

pre {
  overflow: auto;
  scrollbar-width: thin;
}

pre::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(186 230 253);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

* + h1,
* + h2 {
  margin-top: 5rem;
}

* + h3,
* + h4,
* + h5 {
  margin-top: 3rem;
}

* + p {
  margin-top: 2rem;
}

h2 + p,
h3 + p,
h4 + p {
  margin-top: 1rem;
}

pre,
code {
  font-family: 'Iosveka', monospace;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Iosevka Web', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

iframe,
audio,
video,
img {
  width: 100%;
  max-width: 100%;
  margin-top: 1rem;
}

blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 3px solid rgb(186 230 253);
  font-style: italic;
}

em {
  color: rgb(186 230 253);
}

ol {
  list-style-position: inside;
}

ol ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
}

hr {
  width: 100%;
  border: none;
  background: rgb(186 230 253);
  height: 1px;
  margin-top: 2rem;
}

b,
strong {
  font-weight: 500;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
  overflow-x: auto;
  min-width: 100%;
  border: 1px solid color-mod(rgb(186 230 253) alpha(30%));
  margin-top: 1rem;
}

table caption {
  margin-top: 1rem;
}

td,
th {
  border: 1px solid color-mod(rgb(186 230 253) alpha(30%));
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: 500;
}

td:only-child {
  text-align: center;
}

@media only screen and (min-width: 900px) {
  p {
    font-size: 1.1rem;
  }
}
