{{ define "head" }}
<!-- If the template for a particular url does not exist(posts.html), setting it to the specific page template data -->
{{ $PageData := index .DeepDataMerge.Templates .PageURL }} {{if eq $PageData nil
}} {{ $PageData = .TemplateData }} {{end}}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{if $PageData.Frontmatter.Title}}{{$PageData.Frontmatter.Title}} | {{end}}{{.DeepDataMerge.LayoutConfig.SiteTitle}}</title>
        <meta name="darkreader-lock" />
        <link rel="icon" href="/acmshortlogo.png" />
        <link
            rel="preload stylesheet"
            href="{{.DeepDataMerge.LayoutConfig.ThemeURL}}"
            as="style"
        />

        <link
            rel="alternate"
            type="application/atom+xml"
            title="feed"
            href="/feed.xml"
        />

        <!-- Scripts filled in from plugins -->
        {{ if $PageData.LiveReload }}
        <script>
            const eventSource = new EventSource("http://localhost:8000/events");
            eventSource.onmessage = function (event) {
                location.reload();
            };
        </script>
        {{ end }} {{range $PageData.Frontmatter.JSFiles}}
        <script src="/static/scripts/{{.}}" defer></script>
        {{end}} {{range .DeepDataMerge.LayoutConfig.SiteScripts}}
        <script src="/static/scripts/{{.}}" defer></script>
        {{end}}

        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ $PageData.Frontmatter.Title }}" />
        <meta
            property="og:description"
            content="{{ $PageData.Frontmatter.Description }}"
        />
        <meta
            property="og:image"
            content="{{ $PageData.Frontmatter.PreviewImage }}"
        />

        <meta
            name="description"
            content="{{ $PageData.Frontmatter.Description }}"
        />

    </head>
    {{end}}
</html>
